{% extends 'base.html' %}
{% block content %}

<style>
    h2 {font-weight: bolder;}
</style>

  <div class="card border-dark mb-3">
  <div class="card-header"></div>
  <div class="card-body" style="margin-left: 20px;">
    <p class="card-text" style="margin-top: 20px;"><strong>COSNAME: </strong></p>
    <h2 class="card-title"><strong>{{ applicant_record.cosname }}</strong></h2><br/>
    <p class="card-text"><strong>REAL NAME: </strong>    {{ applicant_record.last_name }}, {{ applicant_record.first_name }} <br/><br/>
        <strong>EMAIL: </strong>    {{ applicant_record.email }}<br/><br/>
        <strong>PHONE NUMBER: </strong>    {{ applicant_record.phone }}<br/><br/>
        <strong>ADDRESS: </strong>    {{ applicant_record.city }},
        {{ applicant_record.state }},
        {{ applicant_record.country }},
        {{ applicant_record.zipcode }}<br/>
        <br/>
        <br/>
        <strong>DATE CREATED: </strong>    {{ applicant_record.created_at }}<br/>
        <strong>ID NO.: </strong>    {{ applicant_record.id }}</p><br/><br/>
     
        <a href = "{% url 'update_record' applicant_record.id %}" class="btn btn-success">UPDATE</a>
        <a href = "{% url 'delete_record' applicant_record.id %}" class="btn btn-outline-danger">DELETE?!</a>
        <a href = "{% url 'home' %}" class="btn btn-light">Back</a>
  </div> 
    

{% endblock %}